<template id="ListMsgBubble">
	<!--LIST WITH PROFILE-->
	<div class="list list_profile list_bubble opt flex_row align_center">
		<div class="profile_s margin_r_1x"></div>
		<div class="list_info margin_r_1x flex_col">
			<div class="flex_row">
				<p class="caption w400 black600">username</p>
				<p class="caption w400 black400">12.20</p>
			</div>
			<p id="msg" class="body w400 black900">
				안녕하세요! OOO팔렸나요?
			</p>
		</div>
	</div>
</template>
<script src="ListMsgBubble.js" type="text/javascript"></script>