<template id="BannerSpecialProduct">
	<div class="flex_row_col col1 white_bg">
		<div class="transition_tab_list">
			<div class="tab_sub2 selected">
				런칭
			</div>
			<div class="tab_sub2">
				재입고
			</div>
			<div class="tab_sub2">
				세일
			</div>
			<div class="tab_sub2">
				특집
			</div>
		</div>
		<div class="transition_tab_content">
			<div class="col1 col1_mg_l_1x white white_bg">
				<div id="c_22" class="container_img_bg container_img_bg_big">
					<p class="subtitle w700 white900">
						제품명
					</p>
					<p class="caption white400">
						브랜드명
					</p>
					<p class="caption white400">
						60,000,000원
					</p>
				</div>
			</div>
		</div>
	</div>
</template>
<script src="BannerSpecialProduct.js" type="text/javascript"></script>