<template id="GridArtist">
	<div class="artist_5_fix">
		<div id="a1" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a2" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a3" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a4" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a5" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a6" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a7" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a9" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a9" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a10" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a1" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a2" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a3" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a4" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a5" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a6" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a7" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a9" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a9" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_5_fix">
		<div id="a10" class="profile_m margin_b_1x"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
</template>
<script src="GridArtist.js" type="text/javascript"></script>