html,body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

/*Layout*/
.flex_row{
	display: flex;
	flex-direction: row;
}
.flex_col{
	display: flex;
	flex-direction: column;
}

/*Size*/
.col1{
	width: 100%;
}
.col2{
	width: 50%;
}
.col2_margin_2x{
	width: calc(50% - 16px);
}
.fullSize{
	width: 100%;
	height: 100%;
}
.live_area{
	width: 1180px;
}

/*Align*/
.space_between{
	justify-content: space-between;
}
.margin_center{
	margin-left: auto;
	margin-right: auto;
}


/*Margin*/
.margin_1x{
	margin: 16px;
}
.margin_2x{
	margin: 32px;
}

.margin_top_1x{
	margin-top: 16px;
}
.margin_top_2x{
	margin-top: 32px;
}
.margin_top_3x{
	margin-top: 48px;
}
.margin_top_4x{
	margin-top: 64px;
}