<template id="ListProductRanked">
	<!--PRODUCT LIST WITH IMG-->
	<div class="list product_list_img flex_row align_center">
		<div class="circle_medium primary600_bg body w700 white900">1</div>
		<div id="c_12" class="thumb_img_small margin_r_1x"></div>
		<div class="list_info flex_col">
			<p class="title ellipse_1line body w700 black900">
				제품명 최대 1
			</p>
			<p class="body w400">
				<span class="primary600">400,000원</span>
				<span class="black600">별점 4.5</span>
			</p>
			<p class="caption w400 black400">브랜드명 . 원산지</p>
			<p class="caption w400 black400">전체 1위, 드럼 12위</p>
		</div>
		<div class="product_list_extra">
			<div class="add_cart border_radius black50_bg padding_1x margin_b_1x">
				<img class="ic_medium" src="img/ic/ic_cart_off.svg">
			</div>
			<div class="border_radius padding_s black300_bg caption white900">
				600원 적립
			</div>
		</div>
	</div>
</template>
<script src="ListProductRanked.js" type="text/javascript"></script>