/*legend*/
.circle_legend{
	width: 12px;
	height: 12px;
	border-radius: 6px;
	overflow: hidden;
	margin-right: 4px;
}



/*DataFlow Circle*/
.reqData{
	color:#00C853;
	fill: #00C85332;
	stroke: #00C853;
	stroke-width: 0.75px;
	transition: fill 0.3s , stroke 0.3s;
	transition-timing-function: ease-in-out;
}
.resData{
	color:#FFAB00;
	fill: #FFAB0022;
	stroke: #FFAB00;
	stroke-width: 0.75px;
	transition: fill 0.3s , stroke 0.3s;
	transition-timing-function: ease-in-out;
}
.particle{
	fill:#00C853;
}
.reqData_bg{
	background-color: #00C853;
}
.resData_bg{
	background-color:#FFAB00;
}

.flowStroke{
	stroke: #25C8CA18;
}
/*Node Circle*/
.user_node{
	fill: #008FFFFF;
	stroke:#006FFF;
}
.app_node{
	fill: #FF7654FF;
	stroke:#FF7600;
}
.departure_node{
	fill: #C51172FF;
	stroke: #C51162;
}
.service_node{
	fill: #8F4FFFFF;
	stroke: #6F1FFF;
}
.arrival_node{
	fill: #00A882FF;
	stroke: #10C072;
}

/*Tunnel Color based on Flow rate*/
.flow_normal{
	fill: #00C85332;
	stroke: #00C853;
	stroke-width: 0.75px;
}
.flow_bad{
	fill: #FFAB0022;
	stroke: #FFAB00;
	stroke-width: 0.75px;
}
.flow_worst{
	fill: #ed365a32;
	stroke:#ed365a;
	stroke-width: 0.75px;
}
.blockLine{
	stroke-linejoin:"round";
}
.blockText{
	fill:#ed365a;
}
.gauge{
	position: absolute;
	top: calc((92px - 55px)/2 - 4px);
	left: calc((80px - 65px)/2);
}
.needle{
	position: absolute;
	top:calc((92px - 18px)/2 - 13.2px);
	left:calc((80px - 6px)/2);
 	transform-origin: center center;
 	transition: transform 1s cubic-bezier(.75,-0.5,0,1.75);
}
.green_line{
	stroke: #00C853;
	stroke-width: 2px;
	fill: none;
}
.green_area{
	fill: #00C8536A;
}
.current_point{
	stroke: #00C853;
	fill: #00C853;
	animation-name: blink;
  	animation-duration: 1s;
  	animation-fill-mode: forwards;
  	animation-iteration-count: infinite;
}
@keyframes blink {
  0% {opacity: 00.48;}
  50% {opacity: 1;}
  100% {opacity: 0.48;}
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}