.dark_highlight{
	color: #2F4050;
}
.dark_highlight_bg{
	background-color: #2F4050;
}
.white_highlight{
	color:#ffffff;
}
.white_highlight_bg{
	background-color:#ffffff;
}


.light_blue_bg{
	background-color: #F4F7FC;
}
.bright_blue_bg{
	background-color: #FAFEFE;
}



/*Color by Name*/
/*Threat Type*/
.worst{
	color: #ed365a;
	transition: color 0.3s;
	transition-timing-function: ease-in-out;
}
.access_block{
	color: #ed365a;
	transition: color 0.3s;
	transition-timing-function: ease-in-out;
}
.threat_block{
	color: #ed365a;
	transition: color 0.3s;
	transition-timing-function: ease-in-out;
}
.danger{
	color: #ff7600;
	transition: color 0.3s;
	transition-timing-function: ease-in-out;
}
.normal{
	color: #00a882;
	transition: color 0.3s;
	transition-timing-function: ease-in-out;
}
/*Node Type*/
.user{
	color: #006fff;
}
.app{
	color: #ff9000;
}
.departure{
	color: #c51162;
}
.service{
	color: #6f1fff;
}
.arrival{
	color: #00a882;
}
.user_bg{
	background-color: #006fff;
}
.app_bg{
	background-color: #ff9000;
}
.departure_bg{
	background-color: #c51162;
}
.service_bg{
	background-color: #6f1fff;
}
.arrival_bg{
	background-color: #00a882;
}