.content_container{
	background-color: #FAFEFE;
	border: solid 0.75px #DEE2E6;
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0px 0px 12px #00000014;
}
.content_container>.ibox-title{
	background-color: #FAFEFE !important;
}

.ibox-conent{
	background-color: #FAFEFE !important;
}

.card_small{
	display: flex;
	flex-direction: column;
	padding:8px;
	width: 80px;
	height: 92px;
}