<!--FOOTER-->
<template id="footer">
	<div class="flex_col col1 dark_blue_bg">
		<div class="flex_col live_area padding_4x">
			<div class="flex_row_col align_center col1 space_between">
				<!--CS CENTER-->
				<div class="flex_col flex_center padding_2x padding_hor_4x footer_border_r_b margin_vertical_2x">
					<p class="subtitle w700 white900">
						고객 센터 070 4148 8169
					</p>
					<p class="caption w400 white900">
						월~금 10:00 ~ 18:30 | 점심 시간 13:00 ~ 14:00
					</p>
				</div>
				<!--ONLINE COUNSELLING-->
				<div class="flex_col flex_center padding_2x padding_hor_4x  border_radius margin_vertical_4x">
					<p class="subtitle w700 white900">
						온라인 견적상담
					</p>
					<p class="caption w400 white900">
						드럼창고와 상담하세요!
					</p>
				</div>
				<!--BANK ACCOUNT-->
				<div class="flex_row align_center margin_vertical_2x padding_2x padding_hor_4x footer_border_l_t">
					<img class="margin_r_1x" src="img/ic/ic_bank.svg">
					<div class="caption w400 white900">
						<p class="body"><span class="w700">국민은행</span> 645137-04-003174</p>
						<p><span class="w700">예금주</span> 제이에스2프로젝트</p>
					</div>
				</div>
				<!--SOCIAL-->
				<style>
					#social>img{
						margin:0 12px;
					}
				</style>
				<div id="social" class="flex_row flex_center padding_2x">
					<img src="img/ic/social/ic_social_fb.svg">
					<img src="img/ic/social/ic_social_ig.svg">
					<img src="img/ic/social/ic_social_nv.svg">
					<img src="img/ic/social/ic_social_yt.svg">
				</div>
				<!--SITE MAP-->
				<div class="flex_row col1 flex_center padding_2x">
					<div class="body white900 margin_r_2x">
						회사소개
					</div>
					<div class="body white900 margin_r_2x">
						고객센터
					</div>
					<div class="body white900 margin_r_2x">
						이용안내
					</div>
					<div class="body white900">
						개인정보 정책
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script src="Footer.js" type="text/javascript"></script>