<!--SECONDARY PRODUCT LIST WITH IMG-->
<template id="ListSceondPrd">
	<div class="list news_list_img flex_row align_center">
		<div id="c_5" class="thumb_img_small margin_r_1x"></div>
		<div class="list_info flex_col">
			<p class="title ellipse_1line body w700 black900">
				중고 판매글 제목 최대 1줄보임. 넘어가면 ellise처리.
			</p>
			<p class="caption w400 black600">상품명</p>
			<p class="caption w400 primary600">400,000원</p>
			<p class="caption w400 black400">서울시 | 12.20 | 조회수 128</p>
			<p class="caption w400 primary600">판매중</p>
		</div>
		<div class="extr_info flex_col flex_center border_radius black100_bg">
			<span class="caption black400">댓글</span>
			<span class="body w700 black600">4</span>
		</div>
	</div>
</template>
<script src="ListSecondPrd.js" type="text/javascript"></script>