<template id="GridArtist">
	<style type="text/css">
		.artist_8_fix{
			margin-bottom: 32px;
		}
		@media screen and (max-width: 680px) {
			.artist_8_fix{
				margin-bottom: 16px;
			}
		}
	</style>
	<div class="artist_8_fix">
		<div id="a1" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a2" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a3" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a4" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a5" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a6" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a7" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a9" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a9" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a10" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a1" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a2" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a3" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a4" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a5" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a6" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a7" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a9" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a9" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
	<div class="artist_8_fix">
		<div id="a10" class="profile_m"></div>
		<p class="caption black600 w400">artist_name</p>
	</div>
</template>
<script src="GridArtistBig.js" type="text/javascript"></script>