<template id="NewsListTxtTemplete">
	<!--NEWS LIST WITHOUT IMG-->
	<div class="list news_list flex_row align_center">
		<div class="list_info flex_col margin_r_1x">
			<p class="title ellipse_1line body w700 black900">
				뉴스 제목 최대 1줄보임. 넘어가면 ellise처리.
			</p>
			<p class="caption ellipse_1line black600">
				뉴스 내용 첫문장 1줄보임. 넘어가면 ellise처리.
			</p>
			<p class="caption w400 black400">12.20 | 조회수 128</p>
		</div>
		<div class="extr_info flex_col flex_center border_radius black100_bg">
			<span class="caption black400">댓글</span>
			<span class="body w700 black600">4</span>
		</div>
	</div>
</template>
<script src="ListNewsTxt.js" type="text/javascript"></script>