/*BIG BUTTON*/
.button{
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding:0px 16px;
	cursor: pointer;
}
.button:before{
	transition: background-color 0.3s;
	background-color: rgba(0,0,0,0);
}
.button:hover:before{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	content: "";
	background-color: rgba(0,0,0,0.032);
}
.btt_big{
	font-size: 14.8px;
	height: 44px;
}
.btt_medium{
	font-size: 12.8px;
	height: 32px;
}
.btt_full{
	font-size: 12.8px;
	width: 100%;
	height: 32px;
}

/*ICON IN BUTTON*/
.button>.ic_btt{
	margin-right: 8px;
}