#cover_c_1{
	background-image: url(../img/example/cover_c_1.jpg);
}
#c_1{
	background-image: url(../img/example/c1.jpg);
}
#c_2{
	background-image: url(../img/example/c2.jpg);
}
#c_3{
	background-image: url(../img/example/c3.jpg);
}
#c_4{
	background-image: url(../img/example/c4.jpg);
}
#c_5{
	background-image: url(../img/example/c5.jpg);
}
#c_6{
	background-image: url(../img/example/c6.jpg);
}
#c_7{
	background-image: url(../img/example/c7.jpg);
}
#c_8{
	background-image: url(../img/example/c8.jpg);
}
#c_9{
	background-image: url(../img/example/c9.jpg);
}
#c_10{
	background-image: url(../img/example/c10.jpg);
}
#c_11{
	background-image: url(../img/example/c11.jpg);
}
#c_12{
	background-image: url(../img/example/c12.jpg);
}
#c_13{
	background-image: url(../img/example/c13.jpg);
}
#c_14{
	background-image: url(../img/example/c14.jpg);
}
#c_22{
	background-image: url(../img/example/c22.jpg);
}


#a1{
	background-image: url(../img/artist/a1.jpg);
}
#a2{
	background-image: url(../img/artist/a2.jpg);
}
#a3{
	background-image: url(../img/artist/a3.jpg);
}
#a4{
	background-image: url(../img/artist/a4.jpg);
}
#a5{
	background-image: url(../img/artist/a5.jpg);
}
#a6{
	background-image: url(../img/artist/a6.jpg);
}
#a7{
	background-image: url(../img/artist/a7.jpg);
}
#a8{
	background-image: url(../img/artist/a8.jpg);
}
#a9{
	background-image: url(../img/artist/a9.jpg);
}
#a10{
	background-image: url(../img/artist/a10.jpg);
}

#u1{
	background-image: url(../img/user/u1.jpg);
}
#u2{
	background-image: url(../img/user/u2.jpg);
}
#u3{
	background-image: url(../img/user/u3.jpg);
}
#u4{
	background-image: url(../img/user/u4.jpg);
}
#u5{
	background-image: url(../img/user/u5.jpg);
}
#u6{
	background-image: url(../img/user/u6.jpg);
}
#u7{
	background-image: url(../img/user/u7.jpg);
}
#u8{
	background-image: url(../img/user/u8.jpg);
}
#u9{
	background-image: url(../img/user/u9.jpg);
}
#u10{
	background-image: url(../img/user/u10.jpg);
}