body, html{
	margin:0;
	padding:0;
}
body{
	background-color: #f7f6f5;
}
* {
    box-sizing: border-box;
    outline: none;
}
.no_wrap{
	flex-wrap: nowrap !important;
}

/*컨텐츠 영역 PC에서 1080px으로 고정*/
.live_area{
	margin-left: auto;
	margin-right: auto;
	width: 1080px;
}
.live_area_narrow{
	margin-left: auto;
	margin-right: auto;
	width: 680px;
}
@media screen and (max-width: 680px) {
	.live_area{
		width: 100%;
	}
	.live_area_narrow{
		width: 100%;
	}
	.mobile_col1{
		width: 100% !important;
	}
}

/*FLEX*/
.flex_row{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
}
.flex_col{
	display: flex;
	flex-direction: column;
}


/*ARRANGEMENT*/
.space_between{
	justify-content: space-between;
}
.space_around{
	justify-content: space-around;
}
.align_start{
	align-items: flex-start;
}
.align_center{
	align-items: center;
}
.align_end{
	align-items: flex-end;
}
.aign_self_end{
	align-self: flex-end;
}
.justify_center{
	justify-content: center;
}
.justify_end{
	justify-content: flex-end;
}
.flex_center{
	align-items: center;
	justify-content: center;
}


/*LAYOUT TRANSITION*/

.col2_1{
	width: 50%;
}

.space_between>.col2_1{
	width: calc(50% - 8px) !important;
}
.space_between>.col2{
	width: calc(50% - 8px) !important;
}
.col3_1{
	width: 33.3%;
}
.col3{
	width: 33.3% !important;
}
.space_between>.col3_1{
	width: calc(33.3% - 8px);
}
.space_between>.col5{
	width: calc(20% - 16px);
}
.col3_2{
	width: 33.3%;
}
.col4_2{
	width: 25%;
}
.flex_row_col{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
@media screen and (max-width: 680px) {
	.col2_1{
		width: 100%;
	}
	.col2_mobile{
		width: 50% !important;
	}
	.col4_2{
		width: 25%;
	}
	.col3_1{
		width: 100% !important;
	}
	.col3_2{
		width: 50%;
	}
	.col4_2{
		width: 50%;
	}
	.flex_row_col{
		flex-direction: column;
	}
	.space_between>.col2_1{
		width: 100%;
	}
}

/*LIST PAGE*/
.col_list{
	width: 628px;
}
.col_curated{
	width: 436px;
}
@media screen and (max-width: 680px) {
	.col_list{
		width: 100%;
	}
	.col_curated{
		display: none;
	}
}



.margin_center{
	margin-left: auto;
	margin-right: auto;
}