/*border*/
.border_black50{
	border:  solid 0.5px #e0e0e0;
	overflow: hidden;
}
.border_black100{
	border:  solid 0.5px #a0a0a0;
}
.border_top{
	border-top:  solid 0.5px #f0f0f0;
}
.border_bottom{
	border-bottom:  solid 0.5px #f0f0f0;
}
.border_right{
	border-right:  solid 0.5px #f0f0f0;
}
.border_radius{
	border-radius: 2px;
	overflow: hidden;
}
.circle_medium{
	width: 24px;
	height: 24px;
	border-radius: 12px;
}
.footer_border_r_b{
	border-right: solid 0.5px #a0afba;
}
.footer_border_l_t{
	border-left: solid 0.5px #a0afba;
}
.box_shadow{
	box-shadow: 0px 0px 4px 6px rgba(0,0,0,0.1);
}
.box_shadow_primary{
	box-shadow: 0px 0px 4px 6px rgba(238,65,35,0.2);
}
@media screen and (max-width: 680px) {
	.footer_border_r_b{
		border-right: none;
		border-bottom: solid 0.5px #a0afba;
	}
	.footer_border_l_t{
		border-left: none;
		border-top: solid 0.5px #a0afba;
	}
}



/*border by color*/
.primary_border{
	border: solid 0.5px #EE4123;
}
.black300_border{
	border: solid 0.5px #c0c0c0;
}
.white_border{
	border: solid 0.5px #ffffff;
}

/*SHADOW*/
.box_shadow{
	box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.045);
}