<template id="MainTab">
	<!-- <link rel="stylesheet"  href="css/type.css">
	<link rel="stylesheet"  href="css/layout.css">
	<link rel="stylesheet"  href="css/color.css">
	<link rel="stylesheet"  href="css/size.css">
	<link rel="stylesheet"  href="css/shape.css">
	<link rel="stylesheet"  href="css/components.css">
	<link rel="stylesheet"  href="css/img_example.css">
	<link rel="stylesheet"  href="css/common.css"> -->
	<style>
	:root {
	  all: inherit;
	}
	</style>
	<!--SITE NAVIGATION TAB-->
	<div class="col1 white_bg">
		<!--MTAIN TAB-->
		<div class="flex_row col1">
			<a id="center" class="tab_main" href="index.html">
				CENTER
			</a>
			<a id="community" class="tab_main" href="community.html">
				COMMUNITY
			</a>
			<a id="shop" class="tab_main" href="shop.html">
				SHOP
			</a>
		</div>
		<!--SUB TAB-->
		<div class="flex_row col1 sub_tab_container">
			<div class="sub_tab_list">
				<div class="tab_sub selected">
					전체
				</div>
				<div class="tab_sub">
					뉴스
				</div>
				<div class="tab_sub">
					드럼영상
				</div>
				<div class="tab_sub">
					사진갤러리
				</div>
				<div class="tab_sub">
					중고장터
				</div>
				<div class="tab_sub">
					출고후기
				</div>
				<div class="tab_sub">
					상품후기
				</div>
				<div class="tab_sub">
					아티스트
				</div>
				<div class="tab_sub">
					자유게시판
				</div>
			</div>
		</div>
	</div>
	<!--SITE NAVIGATION TAB END-->
</template>
<script src="TabMain.js"></script>