<template id="TabContentArea">
	<!--SUB TAB-->
	<div class="flex_row col1 sub_tab_container">
		<div class="sub_tab_list">
			<!-- <div class="tab_sub2">
				서브탭1
			</div>
			<div class="tab_sub2 selected">
				서브탭2
			</div>
			<div class="tab_sub2">
				서브탭3
			</div>
			<div class="tab_sub2">
				서브탭4
			</div>
			<div class="tab_sub2">
				서브탭5
			</div>
			<div class="tab_sub2">
				서브탭6
			</div>
			<div class="tab_sub2">
				서브탭7
			</div>
			<div class="tab_sub2">
				서브탭8
			</div>
			<div class="tab_sub2">
				서브탭9
			</div>
			<div class="tab_sub2">
				서브탭10
			</div>
			<div class="tab_sub2">
				서브탭11
			</div>
			<div class="tab_sub2">
				서브탭12
			</div>
			<div class="tab_sub2">
				서브탭13
			</div> -->
		</div>
	</div>
</template>
<script src="TabContentArea.js" type="text/javascript"></script>