<template id="ListCartItem">
	<!--PRODUCT LIST WITH IMG-->
	<div class="list product_list_img cart_item flex_row align_center" style="position: relative; padding-left: 32px;">
		<!--아이템 선택-->
		<label class="checkbox" style="position: absolute; top:6px; left:0;">
		  <input name="isCheck" type="checkbox" checked="checked">
		  <span class="checkmark"></span>
		</label>
		<div id="c_12" class="thumb_img_small margin_r_1x"></div>
		<div class="list_info flex_col">
			<p class="title ellipse_1line body w700 black900">
				제품명 최대 2줄
			</p>
			<p class="body w400">
				<span class="primary600">400,000원</span>
				<span class="black600">별점 4.5</span>
			</p>
			<p class="caption w400 black400">브랜드명 . 원산지</p>
			<p class="caption w400 black400">전체 1위, 드럼 12위</p>
		</div>
		<span class="control flex_col align_center">
			<p class="margin_center caption black400 margin_b_1x">수량</p>
			<div class="flex_row align_center">
				<img src="img/ic/ic_minus.svg">
				<div class="extr_info flex_col flex_center border_radius black100_bg"
					 style="margin:0 8px;">1</div>
				<img src="img/ic/ic_plus.svg">
			</div>
		</span>
	</div>
</template>
<script src="ListCartItem.js" type="text/javascript"></script>