<template>
	<style>
		@media screen and (max-width: 680px) {
			#textarea_big{
				flex-direction: column !important;
			}
			#textarea_big>#title{
				display: none;
			}
			#textarea_big>.form{
				width: 100% !important;
			}
		}
	</style>
	<div id="textarea_big" class="list_text_single space_between" style="height: auto !important;">
		<label id="title">입력명</label>
		<div class="form form_height_4x">
			<textarea id="value" type="text" placeholder="입력하세요."></textarea>
		</div>
	</div>
</template>
<script src="ListTextAreaBig.js" type="text/javascript"></script>